.pause {
  @import "../../../../styles";
  @include icon-box-styles();
  @include slideIn-styles(
    $x-translate: -100,
    $nameOut: translatePauseOut,
    $nameIn: translatePauseIn
  );
  @mixin bar-styles($margin-left: unset) {
    content: "";
    width: 3px;
    height: 0.6rem;
    background: $painted-desert;
    border-radius: 1.5px;
    margin-left: #{$margin-left}rem;
  }
  &:before {
    @include bar-styles();
  }
  &::after {
    @include bar-styles(0.2);
  }
}
