.wheel {
  @import "styles/variables";
  cursor: grab;
  align-self: center;
  z-index: 101;
  position: absolute;
  bottom: 10%;
  border-radius: 44% 44% 44% 0;
  width: 66.4px;
  height: 72.8px;
  background: $painted-desert;
  transform-origin: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-right: 1.8rem;
  overflow: hidden;
  &.grab {
    cursor: grabbing;
  }
  &.flip {
    cursor: unset;
    transform: translateZ(-1px);
  }
}
