.practice {
  display: flex;
  opacity: 0;
  transition: opacity 0.2s ease;
  &.show {
    opacity: 1;
    transition: opacity 0.8s ease;
  }
  &.hide {
    opacity: 0;
    transition: opacity 0.4s ease;
  }
}
