$lm-max-width: 1024px;
$mm-max-width: 991px;
$sm-max-width: 767px;
$xsm-max-width: 370px;

$deep-serenity: #7b6967;
$painted-desert: #c1b9b6;
$leroy: #6e6661;
$pale-slate: #c1bebc;
$scarabaeus-sacer: #403f3f;